
.block {
  position: relative;
  padding: 20px 15px 20px 20px;
  border: 1px solid #747474;
  border-top: 1px solid #487922;
  background: #ededed;
  margin: 20px;
}

.block div {
  margin-bottom: 20px;
}

.calc-res {
  font-size: 1.2rem;
}
  
.calc-res li {
  margin: 10px 0;
}
.div1{    
    width: 50%;
    min-height: 150px;
    background: #ccc;
    float: left;
}
.div2{    
    width: 50%;
    min-height: 150px;
  border: 1px solid #747474;

  background: #ededed;

    margin-left: 50%;
}
.div2 .h4 {
    margin: 10px;

}
